body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
}

.game-square {
    width: 100px;
    height: 100px;
    color: darkblue;
    font-size: 40px;
    font-weight: 600;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 9px;
    background-color: aliceblue;
}

#restart-button {
    margin: 20px auto;
    background-color: aliceblue;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 9px;
    
}
